@import './vars.scss';

.progress-wrap {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 0 0 35px 0;

    h3 {
        font-size: 16px;
        display: flex;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        justify-content: space-between;
    }

    progress {
        width: 100%;
        border-radius: 5px;
        -webkit-appearance: none;
    }

    progress::-webkit-progress-bar {
        border-radius: 5px;
        background: $gray2;
    }

    progress::-webkit-progress-value {
        background-color: $orange;
        border-radius: 5px;
    }
}

@media (max-width: $layout-breakpoint-small) {
    .progress-wrap {
        padding: 0 30px;
    }
}